In [4]:
import pandas as pd

In [6]:
print(pd.__version__)

0.18.1

In [8]:
print(pd.__path__)

['/home/andrew/anaconda3/lib/python3.5/site-packages/pandas']

In [10]:
#pd.show_versions()

In [12]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [22]:
df.describe()

/home/andrew/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%         NaN   1.000000
50%         NaN   2.000000
75%         NaN   2.750000
max    7.000000   3.000000

In [15]:
df.head(3)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [19]:
df[['animal', 'visits']]

  animal  visits
a    cat       1
b    cat       3
c  snake       2
d    dog       3
e    dog       2
f    cat       3
g  snake       1
h    cat       1
i    dog       2
j    dog       1

In [28]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [36]:
df[df['visits']>3]

Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

In [37]:
df[df['age'].isnull()]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

In [40]:
df[(df['animal']=='cat') & (df['age']<3)]

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

In [44]:
df[(2<=df['age']) & (df['age']<=3)]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

In [47]:
df.at['f', 'age'] = 1.5

In [54]:
df.visits.sum()

19.0

In [57]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [64]:
df.at['k', :]=[1, 2, 3, 4]

In [67]:
df.drop('k', axis=0, inplace=1)

In [103]:
df.groupby('animal').describe()['age']

/home/andrew/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

animal
cat     count    3.000000
        mean     2.333333
        std      0.763763
        min      1.500000
        25%           NaN
        50%           NaN
        75%           NaN
        max      3.000000
dog     count    3.000000
        mean     5.000000
        std      2.000000
        min      3.000000
        25%           NaN
        50%           NaN
        75%           NaN
        max      7.000000
python  count    2.000000
        mean     2.500000
        std      2.828427
        min      0.500000
        25%      1.500000
        50%      2.500000
        75%      3.500000
        max      4.500000
Name: age, dtype: float64

In [71]:
df['animal'].value_counts().

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [72]:
df.sort(columns='age',ascending=0)

/home/andrew/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

     age animal priority  visits
i    7.0    dog       no     2.0
e    5.0    dog       no     2.0
g    4.5  snake       no     1.0
b    3.0    cat      yes     3.0
j    3.0    dog       no     1.0
a    2.5    cat      yes     1.0
f    1.5    cat       no     3.0
c    0.5  snake       no     2.0
d    NaN    dog      yes     3.0
h    NaN    cat      yes     1.0
age  NaN    NaN      NaN     NaN

In [73]:
df.sort(columns='visits')

/home/andrew/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

     age animal priority  visits
a    2.5    cat      yes     1.0
g    4.5  snake       no     1.0
h    NaN    cat      yes     1.0
j    3.0    dog       no     1.0
c    0.5  snake       no     2.0
e    5.0    dog       no     2.0
i    7.0    dog       no     2.0
b    3.0    cat      yes     3.0
d    NaN    dog      yes     3.0
f    1.5    cat       no     3.0
age  NaN    NaN      NaN     NaN

In [77]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

     age animal priority  visits
i    7.0    dog       no     2.0
e    5.0    dog       no     2.0
g    4.5  snake       no     1.0
j    3.0    dog       no     1.0
b    3.0    cat      yes     3.0
a    2.5    cat      yes     1.0
f    1.5    cat       no     3.0
c    0.5  snake       no     2.0
h    NaN    cat      yes     1.0
d    NaN    dog      yes     3.0
age  NaN    NaN      NaN     NaN

In [79]:
df.priority = df.priority.map({'no':False, 'yes':True})

In [87]:
df

   age animal priority  visits
a  2.5    cat     True     1.0
b  3.0    cat     True     3.0
c  0.5  snake    False     2.0
d  NaN    dog     True     3.0
e  5.0    dog    False     2.0
f  1.5    cat    False     3.0
g  4.5  snake    False     1.0
h  NaN    cat     True     1.0
i  7.0    dog    False     2.0
j  3.0    dog    False     1.0

In [92]:
df.animal = df.animal.replace('snake', 'python')

In [93]:
df

   age  animal priority  visits
a  2.5     cat     True     1.0
b  3.0     cat     True     3.0
c  0.5  python    False     2.0
d  NaN     dog     True     3.0
e  5.0     dog    False     2.0
f  1.5     cat    False     3.0
g  4.5  python    False     1.0
h  NaN     cat     True     1.0
i  7.0     dog    False     2.0
j  3.0     dog    False     1.0

In [109]:
df1 = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df1

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [111]:
df1.loc[df1['A'].shift() != df1['A']]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [149]:
df2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df2.sum().idxmax()

'e'

In [150]:
df2.sum()

a    2.450706
b    2.974448
c    2.944954
d    3.125909
e    3.349026
f    2.677694
g    2.571549
h    2.420138
i    3.290172
j    2.579957
dtype: float64