In [3]:
#ну че, сейчас будем предсказывать, насколько нужны домишки людишкам, хыхыхы

In [4]:
#для начала нам стоит обработать данные. кажется, что их достаточно много))

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [82]:
from sklearn import preprocessing

In [180]:
#df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [181]:
df_test.head()

,Id,bathrooms,bedrooms,building_id,created,display_address,features,latitude,listing_id,longitude,manager_id,photos,price
0,25364,3.0,3,a36895b9975c6991ca0fa1d9a99023a1,2016-05-29 03:03:17,E 72nd St.,"['Doorman', 'Elevator', 'Fitness Center', 'Lau...",40.7695,7082228,-73.9603,dd36b42e307fbd7c8f2d9607a52cb791,['https://photos.renthop.com/2/7082228_c5a663e...,7300
1,26511,1.0,2,ad67f6181a49bde19218929b401b31b7,2016-05-07 05:25:25,Wall Street,"['Roof Deck', 'Doorman', 'Elevator', 'Pre-War'...",40.7067,6980308,-74.0101,2aa9bfa5f67ed9997ea341dee8a3a271,['https://photos.renthop.com/2/6980308_3d99327...,2650
2,27100,2.0,4,c892f07cbcb3bf5a06c12f0f725af6fa,2016-06-27 03:04:47,1st Ave,"['Dishwasher', 'Hardwood Floors', 'No Fee', 'O...",40.7272,7221448,-73.9859,dbbb6b990661b1e507a387f019bcb1a0,['https://photos.renthop.com/2/7221448_9bc4b98...,6200
3,10404,1.0,3,8d83f6be6675419b19a6fc29a6ce6cee,2016-04-11 02:26:22,East 75th Street,"['Laundry in Unit', 'Dishwasher', 'Hardwood Fl...",40.7701,6854758,-73.9550,f44a6215f74f901ac7e326207f2984f7,['https://photos.renthop.com/2/6854758_b6f0f2b...,4858
4,7654,1.0,1,f49ca2c8ca255a482d7ea03860ae7234,2016-04-14 03:39:47,Broadway,"['Elevator', 'Pre-War', 'Laundry in Building',...",40.7878,6871682,-73.9763,35fc09b29adc23a8beed56f0aa3aaf37,['https://photos.renthop.com/2/6871682_8c82f95...,401

In [182]:
len(df_test)

12338

In [5]:
df.created = df.created.apply(lambda x: list(map(int, (x.split()[0].split('-')))))

In [11]:
df.TARGET = df.TARGET.map({'low':0, 'medium':1, 'high':2})

In [15]:
df.bathrooms.fillna(value=1, inplace=1)
df.features.fillna(value='[]',inplace=1)
df.photos.fillna(value='[]',inplace=1)

In [26]:
def to_float(x):
    try:
        return float(x)
    except Exception:
        return 0

In [33]:
def feature_count(x):
    return x.count("'")

In [37]:
df.photos = df.photos.apply(feature_count)

/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [27]:
df.longitude = df.longitude.apply(to_float)

In [28]:
df.latitude = df.latitude.apply(to_float)

In [30]:
df = df.dropna(subset=['TARGET'], how='all')

In [31]:
for col in df.columns:
    print(col, df[col].isnull().sum())

bathrooms 0
bedrooms 0
building_id 0
created 0
display_address 98
features 0
latitude 0
listing_id 0
longitude 0
manager_id 0
photos 0
price 0
TARGET 0

In [189]:
l = ['Id', 'bathrooms', 'bedrooms', 
       'features', 'latitude', 'longitude',
       'photos', 'price']

In [75]:
df_new.price=df_new.price.apply(to_float)

/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [86]:
df_new.head()

,bathrooms,bedrooms,features,latitude,longitude,photos,price,TARGET
0,-0.423030,-0.486896,-1.129527,0.182677,0.021794,-0.717493,-0.086646,1.0
1,3.563569,1.305610,0.397893,-0.005779,-0.031939,0.106122,0.402891,0.0
2,-0.423030,2.201863,-1.384097,-0.072143,0.030517,1.753351,-0.005056,0.0
3,-0.423030,0.409357,0.143323,-0.012764,-0.029933,0.655198,0.022804,1.0
4,-0.423030,0.409357,-1.384097,0.022641,-0.011615,0.655198,-0.042866,0.0

In [85]:
for col in ['bathrooms', 'bedrooms', 
       'features', 'latitude', 'longitude',
       'photos', 'price']:
    df_new[col] = preprocessing.scale(df_new[col].reshape(-1,1))

/home/andrew/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/andrew/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)

In [378]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [379]:
model = SVC(random_state=1)
X = df_new[['bathrooms', 'bedrooms', 
       'features', 'latitude', 'longitude',
       'photos', 'price']]
y = df_new['TARGET']

In [365]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=2)

In [366]:
X.head()

   bathrooms  bedrooms  features  latitude  longitude    photos     price
0  -0.423030 -0.486896 -1.129527  0.182677   0.021794 -0.717493 -0.086646
1   3.563569  1.305610  0.397893 -0.005779  -0.031939  0.106122  0.402891
2  -0.423030  2.201863 -1.384097 -0.072143   0.030517  1.753351 -0.005056
3  -0.423030  0.409357  0.143323 -0.012764  -0.029933  0.655198  0.022804
4  -0.423030  0.409357 -1.384097  0.022641  -0.011615  0.655198 -0.042866

In [380]:
model.fit(X, y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=1,
  shrinking=True, tol=0.001, verbose=False)

In [381]:
(model.predict(X)==y).sum()/len(X)

0.6950653732602278

In [305]:
df_test_new = df_test[['Id', 'bathrooms', 'bedrooms', 'features', 'latitude', 'longitude',
       'photos', 'price']]

In [314]:
df_test_new.latitude = preprocessing.scale(df_test_new.latitude.reshape(-1, 1))
df_test_new.longitude = preprocessing.scale(df_test_new.longitude.reshape(-1, 1))

/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [311]:
df_test_new.bathrooms = preprocessing.scale(df_test_new.bathrooms.reshape(-1, 1))
df_test_new.bedrooms = preprocessing.scale(df_test_new.bedrooms.reshape(-1, 1))
df_test_new.features = preprocessing.scale(df_test_new.features.reshape(-1, 1))
df_test_new.photos = preprocessing.scale(df_test_new.photos.reshape(-1, 1))
df_test_new.price = preprocessing.scale(df_test_new.price.reshape(-1, 1))

/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/andrew/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/andrew/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/andrew/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/andrew/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:590: DataConversionWarning: Data with input dtype int64 was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [121]:
df_test_new.price.fillna(value=0, inplace=1)
df_test_new.price = df_test_new.price.reshape(-1,1)

/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [309]:
df_test_new.photos=df_test_new.photos.apply(feature_count)

/home/andrew/anaconda3/lib/python3.5/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [382]:
a = (model.predict(df_test_new[['bathrooms', 'bedrooms', 'features', 'latitude', 'longitude',
       'photos', 'price']]))

In [383]:
ans = pd.DataFrame(a, df_test_new.Id)

In [384]:
ans[0].map({0:'low', 1:'medium', 2:'high'}).to_csv('answer.csv')

In [320]:
pd.Series(a).map({0:'low', 1:'medium', 2:'high'}).to_csv('answer.csv')

In [116]:
df_copy.head()

,bathrooms,bedrooms,building_id,created,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,TARGET
0,1.0,1,86af7d101535dd99dbffd2fe1c2af319,"[2016, 5, 26]",Wadsworth Terrace,['Pre-War'],40.8568,7067832.0,-73.9304,546f784b992d2ba84024f41d342cafd7,['https://photos.renthop.com/2/7067832_5443033...,1700.0,medium
1,3.0,3,4e026d5fd1bcd89b8d0e897bdb69a183,"[2016, 4, 13]",5th Ave.,"['Dining Room', 'Garden/Patio', 'Loft', 'Laund...",40.7381,6867824.0,-73.9920,ad3d8ddc52c7e0859b5c6c7f7949c3bd,['https://photos.renthop.com/2/6867824_e911226...,14000.0,low
2,1.0,4,7b1ccf5e646cf81dc13472ac057ef401,"[2016, 4, 16]",143 Bleecker St brooklyn,[],40.6963,6884482.0,-73.9204,a621bebe105d26cd338d4c54f35f52e6,['https://photos.renthop.com/2/6884482_61ec9a2...,3750.0,low
3,1.0,2,9c926bb8e5354ae22f3ebaaa3d1ee282,"[2016, 4, 19]",4th Avenue,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7337,6894963.0,-73.9897,08abda736d77d880c4e17fbba5db3985,['https://photos.renthop.com/2/6894963_92d606e...,4450.0,medium
4,1.0,2,9e9fd557ea43b22412cf29dd540af043,"[2016, 4, 6]",Midtown Bananza! Giant sized 1 bed - ex flex 2...,[],40.7560,6834526.0,-73.9687,4bdc3d8c1aaa90d997ce2cb77680679b,['https://photos.renthop.com/2/6834526_4af07aa...,2800.0,low

In [115]:
df.photos = df_copy
df.head()

,bathrooms,bedrooms,building_id,created,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,TARGET
0,1.0,1,86af7d101535dd99dbffd2fe1c2af319,"[2016, 5, 26]",Wadsworth Terrace,['Pre-War'],40.8568,7067832.0,-73.9304,546f784b992d2ba84024f41d342cafd7,1,1700.0,medium
1,3.0,3,4e026d5fd1bcd89b8d0e897bdb69a183,"[2016, 4, 13]",5th Ave.,"['Dining Room', 'Garden/Patio', 'Loft', 'Laund...",40.7381,6867824.0,-73.9920,ad3d8ddc52c7e0859b5c6c7f7949c3bd,3,14000.0,low
2,1.0,4,7b1ccf5e646cf81dc13472ac057ef401,"[2016, 4, 16]",143 Bleecker St brooklyn,[],40.6963,6884482.0,-73.9204,a621bebe105d26cd338d4c54f35f52e6,1,3750.0,low
3,1.0,2,9c926bb8e5354ae22f3ebaaa3d1ee282,"[2016, 4, 19]",4th Avenue,"['Doorman', 'Elevator', 'Laundry in Building',...",40.7337,6894963.0,-73.9897,08abda736d77d880c4e17fbba5db3985,1,4450.0,medium
4,1.0,2,9e9fd557ea43b22412cf29dd540af043,"[2016, 4, 6]",Midtown Bananza! Giant sized 1 bed - ex flex 2...,[],40.7560,6834526.0,-73.9687,4bdc3d8c1aaa90d997ce2cb77680679b,1,2800.0,low

In [77]:
df_c = df.copy()

In [83]:
df_c.created = df_c.created.apply(lambda x: list(map(int, x)))

In [96]:
a = df_c['created'][0][2], df_c['created'][0][1], df_c['created'][0][0], 1, 1, 1

In [101]:
today = datetime.datetime(df_c['created'][0][2], df_c['created'][0][1], df_c['created'][0][0])
today.weekday()

3

In [109]:
df_c['created'][0][2], df_c['created'][0][1], df_c['created'][0][0]

(2016, 5, 26)

In [110]:
today = datetime.datetime(2018, 10, 12)
today.weekday()

4

In [119]:
df_c.created = df_c.created.apply(lambda x: 1 if datetime.datetime(x[2], x[1], x[0]).weekday() in (5, 6) else 0)

In [120]:
df_c.head()

,bathrooms,bedrooms,building_id,created,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,TARGET
0,1.0,1,86af7d101535dd99dbffd2fe1c2af319,0,Wadsworth Terrace,11,40.8568,7067832.0,-73.9304,546f784b992d2ba84024f41d342cafd7,3,1700.0,medium
1,3.0,3,4e026d5fd1bcd89b8d0e897bdb69a183,0,5th Ave.,101,40.7381,6867824.0,-73.992,ad3d8ddc52c7e0859b5c6c7f7949c3bd,6,14000.0,low
2,1.0,4,7b1ccf5e646cf81dc13472ac057ef401,1,143 Bleecker St brooklyn,2,40.6963,6884482.0,-73.9204,a621bebe105d26cd338d4c54f35f52e6,12,3750.0,low
3,1.0,2,9c926bb8e5354ae22f3ebaaa3d1ee282,0,4th Avenue,89,40.7337,6894963.0,-73.9897,08abda736d77d880c4e17fbba5db3985,8,4450.0,medium
4,1.0,2,9e9fd557ea43b22412cf29dd540af043,0,Midtown Bananza! Giant sized 1 bed - ex flex 2...,2,40.756,6834526.0,-73.9687,4bdc3d8c1aaa90d997ce2cb77680679b,8,2800.0,low

In [ ]:
from mlxtend.feature_selection import SequentialFeatureSelector

In [121]:
df_c.head()

,bathrooms,bedrooms,building_id,created,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,TARGET
0,1.0,1,86af7d101535dd99dbffd2fe1c2af319,0,Wadsworth Terrace,11,40.8568,7067832.0,-73.9304,546f784b992d2ba84024f41d342cafd7,3,1700.0,medium
1,3.0,3,4e026d5fd1bcd89b8d0e897bdb69a183,0,5th Ave.,101,40.7381,6867824.0,-73.992,ad3d8ddc52c7e0859b5c6c7f7949c3bd,6,14000.0,low
2,1.0,4,7b1ccf5e646cf81dc13472ac057ef401,1,143 Bleecker St brooklyn,2,40.6963,6884482.0,-73.9204,a621bebe105d26cd338d4c54f35f52e6,12,3750.0,low
3,1.0,2,9c926bb8e5354ae22f3ebaaa3d1ee282,0,4th Avenue,89,40.7337,6894963.0,-73.9897,08abda736d77d880c4e17fbba5db3985,8,4450.0,medium
4,1.0,2,9e9fd557ea43b22412cf29dd540af043,0,Midtown Bananza! Giant sized 1 bed - ex flex 2...,2,40.756,6834526.0,-73.9687,4bdc3d8c1aaa90d997ce2cb77680679b,8,2800.0,low

In [122]:
df_c.columns

Index(['bathrooms', 'bedrooms', 'building_id', 'created', 'display_address',
       'features', 'latitude', 'listing_id', 'longitude', 'manager_id',
       'photos', 'price', 'TARGET'],
      dtype='object')

In [123]:
l = ['bathrooms', 'bedrooms', 'created', 'features', 'photos', 'price', 'TARGET']

In [135]:
df_for_reg = df_c[l]
df_for_reg.head()
df_for_reg['TARGET'] = df_for_reg['TARGET'].map({'low':0, 'medium':1, 'high':2})

/home/andrew/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [88]:
from sklearn.model_selection import train_test_split

In [166]:
y = df_for_reg['TARGET']
X = df_for_reg[['bathrooms', 'bedrooms', 'created', 'features', 'photos', 'price']]
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 3)

from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor(random_state=1, max_leaf_nodes=100000)

In [167]:
model.fit(train_X, train_y)
(model.predict(train_X)==train_y).sum()

26577

In [118]:
df_test = (pd.read_csv('test.csv'))

In [182]:
for col in df_test.columns:
    print(col, df_test[col].isnull().sum())

bathrooms 0
bedrooms 0
building_id 0
created 0
display_address 0
features 0
latitude 15
listing_id 0
longitude 0
manager_id 0
photos 0
price 0

In [181]:
df_test.photos = df_test.photos.fillna(value='[]')

In [187]:
def feature(x):
    return x.count("'")/2

In [195]:
mean_lat, mean_lon = df.latitude.mean(), df.longitude.mean()

In [2]:
df_test_mean_lat = pd.Series([mean_lat]*len(df_test))
df_test_mean_lon = pd.Series([mean_lon]*len(df_test))

NameError: name 'pd' is not defined

In [1]:
df_test_dist = (df_test_mean_lat - df_test.latitude)**2 + (df_test_mean_lon - df_test.longitude)**2

NameError: name 'df_test_mean_lat' is not defined